# DB config
export DB_NAME="go-message-database"
export DB_PASS="myCoolPassword"
export DB_USER="HighGod"
export DB_PORT=5432
export DB_HOST="localhost"

# Redis config
export REDIS_NAME="go-message-redis"
export REDIS_HOST="localhost"
export REDIS_PORT=6379
export REDIS_PASS="myRedisPassword"
export REDIS_SECRET="chuuuutKeepItSecrets"

# API Config
export API_PORT=8000